$font-family: Roboto;

$color-text: #3e3e3e;
$color-primary: #0076b7; //#0058e6
$color-signal: #f44336;

$color-true: #24bb2a;
$color-false: #f44336;

/* $color-logo: #f44336; */

$corset-width: 800px;
$mobile-margin: 15px;
$mobile-margin-bottom: 10%;

$border-radius: 3px;


$site-padding-sides: 5%;
$site-padding-top: 10%;
$site-padding-bottom: 10%;
$site-padding-inner: 10%;

$gutter-width: 20px;
$overlay-color: rgba( 255, 255, 255, 1 );

/* $column-width: 800px; */
$minitablet: 600px;
$tablet: 768px;
$desktop: 1024px;
$huge: 1500px;