@import 'app/styles/reset';
@import 'app/styles/tags';

%i18n{

	text-align: center;
	display: none;
	direction: ltr; //no need to change direction with rtl scripts

	@include portraitMin( $tablet ){

		display: block;

	}

	@include landscapeMin( $tablet ){

		display: block;

	}

}

%intro{

	text-align: center;

}

%headline{

	font-family: "Roboto Slab";
	word-wrap: break-word;
	font-size: 29px;

	@include min( $tablet ){

		font-size: 48px;

	}

	@include min( $huge ){

		font-size: 64px;

	}

}

%tagline{

	font-weight: 200;
	font-size: 16px;

	@include min( $tablet ){

		font-size: 24px;

	}

	@include min( $huge ){

		font-size: 28px;

	}

}

%more{

	@extend %bigButton;
	display: none;

	&.show{

		display: inline-block;

	}

}

%info{

	display: none;

	&.show{

		display: block;

	}

}


.noJazz{


	$section-margin: 10%;

	@extend %corset;
	margin-bottom: $mobile-margin-bottom;

	&>*{

		@extend %mobileMarginSides;

	}

	.i18n{

		@extend %i18n;
		margin-top: $mobile-margin;
		margin-bottom: $mobile-margin;

	}

	.intro{

		@extend %intro;
		margin-top: $section-margin;
		margin-bottom: $section-margin;

		.logo{

			width: 300px;
			max-width: 60%;

		}

		.headline{

			@extend %headline;

		}

		.tagline{

			@extend %tagline;
			margin-bottom: 0;

		}

		.more{

			@extend %more;
			margin-top: $section-margin;

		}

	}

	.info{

		@extend %info;
		margin-top: $section-margin;
		margin-bottom: $section-margin;

	}

}

.jazz{

	.top{

		display: none;

		&.show{

			display: block;

		}

		.i18n{

			@extend %i18n;
			padding-top: 2vh;
			background-color: $color-primary;

			a{

				color: #fff;

			}

		}

		.intro{

			@extend %intro;
			background-color: $color-primary;
			color: #fff;
			padding: 10vh 5vw;

			@include min( $tablet ){

				padding: 5vh 5vw;

			}

			@include min( $huge ){

				padding: 5vh 10vw;

			}

			/* video{

				position: fixed;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: -100;
				-ms-transform: translateX(-50%) translateY(-50%);
				-moz-transform: translateX(-50%) translateY(-50%);
				-webkit-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
				
			} */

			.logo{

				min-width: 160px;
				width: 250px;

				@include portrait( ){

					max-width: 60vw;

				}

				@include landscape( ){

					max-width: 60vh;

				}

				@include portraitMin( $tablet ){

					max-width: 60vw;

				}

				@include landscapeMin( $tablet ){

					max-width: 60vh;

				}

			}

			.headline{

				@extend %headline;

			}

			.tagline{

				@extend %tagline;
				margin-bottom: 0;
				margin-top: 5vh; //same as .more

			}

			.more{

				@extend %more;
				border-color: #fff;
				color: #fff;
				margin-top: 5vh;

			}

		}

		.info{

			@extend %info;
			@extend %corset;
			padding-bottom: 10vh;

		}

	}

}