@import 'app/styles/base';

%logos{

	text-align: center;
	margin-top: 2em;
	color: $color-primary;
	border-top: 1px dotted #a9a9a9;
    padding-top: 10vh;

	p{

		margin-bottom: 1em;

	}

	.collaboration{

		margin-top: 3em;

	}

	a{

		img{

			width: 150px;
			margin: 0 3%;
			max-width: 26%;

		}

	}

}

.noJazz{

	@extend %logos;

}

.jazz{

	@extend %logos;

}