@import 'app/styles/base';

.dialog{

	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $overlay-color;
	z-index: 300;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	&>div{

		@extend %corset;
		padding: $mobile-margin $mobile-margin $mobile-margin-bottom $mobile-margin;

		&>a{

			display: block;
    		position: fixed;
    		top: 0;
    		left: 0;
    		width: 100%;
    		padding: $mobile-margin;
    		background-color: rgba(255, 255, 255, 0.9);
    		font-size: 1.5em;
    		text-align: right;

		}

		&>div{

			margin-top: 70px;

		}

	}

	h2{

		font-family: "Roboto Slab";
		font-size: 2em;

	}

}

/* .close{

	display: block;
	text-align: right;
	margin-bottom: 1em;

	i{

		font-size: 36px;

	}

}

.body{

	@extend %corset;
	margin-top: $site-padding-top;
    margin-bottom: $site-padding-bottom;
    padding: 15px;

}

.scroll{

    &>*:first-child{

    	margin-top: 0;
    	padding-top: 0;

    }

} */