<!DOCTYPE html>
html(lang=lang, dir="ltr", class="no-js")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		title="COASTWARDS"

		link(rel="apple-touch-icon", sizes="57x57", href="/apple-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="60x60", href="/apple-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="72x72", href="/apple-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="76x76", href="/apple-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="/apple-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="120x120", href="/apple-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="/apple-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="152x152", href="/apple-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="/apple-icon-180x180.png")
		link(rel="icon", type="image/png", sizes="192x192",  href="/android-icon-192x192.png")
		link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="96x96", href="/favicon-96x96.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
		link(rel="manifest", href="/manifest.json")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="msapplication-TileImage", content="/ms-icon-144x144.png")
		meta(name="theme-color", content="#ffffff")
		
		meta(name="description", content="Help science study the risks of sea-level rise by uploading pictures of coasts")
		meta(name="viewport", content="user-scalable=no,initial-scale=1.0,maximum-scale=1,width=device-width,minimal-ui")

		meta(property="og:url", content="http://coastwards.org")
		meta(property="og:type", content="website")
		meta(property="og:title", content="COASTWARDS")
		meta(property="og:description", content="Help science study the risks of sea-level rise by uploading pictures of coasts")
		meta(property="og:image", content="http://coastwards.org/facebook.jpg")

		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700", type="text/css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Slab:700", type="text/css")
		link(rel="stylesheet", href="./build/index.css", type="text/css")
		link(rel="stylesheet", href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css", type="text/css")
		link(rel="stylesheet", href="./css/mapbox-gl-overrides.css", type="text/css")

		<!--[if IE]>
		script(src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.2.0/es5-shim.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js")
		<![endif]-->
		style.
			.frameworkAlert {
				text-align: center;
				margin: 50px;
				color: #333;
			}
			.frameworkAlert img{
				max-width: 100%;
			}
	body
		<!--[if lt IE 9]>
		div(class="frameworkAlert")
			img(src="./assets/coastwards.png")
			h4 You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		<![endif]-->
		noscript
			div(class="frameworkAlert")
				img(src="./assets/coastwards.png")
				h4 You have javascript disabled in your browser. To view this site, please enable javascript.
		div(id="Body")
		script(src="./build/manifest.bundle.js")
		script(src="./build/vendor.bundle.js")
		script(src="./build/index.bundle.js")